<nav class="blog-pagination" aria-label="Pagination">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-primary rounded-pill" href="?page={{ page_obj.previous_page_number }}">← Назад</a>
    {% else %}
    <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">← Назад</a>
    {% endif %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-primary rounded-pill" href="?page={{ page_obj.next_page_number }}">Далее →</a>
    {% else %}
    <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Далее →</a>
    {% endif %}
</nav>