{% extends 'my_blog/base.html' %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                <div class="card border-0 shadow-lg" style="background-color: #fdfdfd;">
                    <div class="card-header bg-light text-center">
                        <h4 class="mb-2">Действительно хотите удалить "{{ object.title }}"?</h4>
                    </div>
                    <div class="card-body p-4">
                        {% csrf_token %}
                        <button type="submit" class="p-2 btn btn-outline-primary" style="width: 200px;">
                            Удалить
                        </button>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'my_blog:blogs_detail' object.pk %}"
                                       style="width: 80px;">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
