{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}Продукты категории{% endblock %}

{% block content %}
<h2 class="text-center mb-4">
    Продукты категории "{{ current_category.name }}"
</h2>
<div class="d-flex justify-content-center align-items-center mt-2">
    <a class="mb-3 btn btn-outline-primary" href="{% url 'catalog:home' %}"
       style="width: 200px;">Назад</a>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <figure class="text-center">
                        <img src="{{ product.image|media_filter }}"
                             alt="{{ product.name }}"
                             class="img-thumbnail d-flex justify-content-start"
                             style="width: 500px; height: 250px; object-fit: cover;">
                        <figcaption class="mt-2 fs-4">{{ product.name }}</figcaption>
                    </figure>
                    <div class="card-body">
                        <p class="card-text">
                            Описание: {{ product.description|truncatechars:100|default:"Описание отсутствует" }}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-center mb-2">
                                <a class="p-2 btn btn-outline-primary"
                                   href="{% url 'catalog:product_detail' product.pk %}"
                                   style="width: 160px;">Посмотреть</a>
                            </div>
                            <small class="text-body-secondary">Обновлено: {{ product.updated_at|date:"d M Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center fs-4 mt-4">Нет доступных товаров.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}